openapi: 3.0.0

info:
  title: Anypoint MQ specfication
  description: Anypoint MQ API specification
  version: 1.0.0

servers:
  - url: https://anypoint.mulesoft.com/mq/admin/api/v1/
    description: Anypoint Cloudhub
  - url: https://eu1.anypoint.mulesoft.com/mq/admin/api/v1/
    description: Anypoint Cloudhub EU
  - url: https://gov.anypoint.mulesoft.com/mq/admin/api/v1/
    description: Anypoint Cloudhub GOV

security:
  - bearerAuth: []

paths:
  /organizations/{orgId}/environments/{envId}/regions/{regionId}/destinations:
    parameters:
      - in: path
        name: orgId
        description: The organization Id
        required: true
        schema:
          type: string
      - in: path
        name: envId
        description: The environment id
        required: true
        schema:
          type: string
      - in: path
        name: regionId
        description: The region id for MQ
        required: true
        schema:
          type: string
    get:
      operationId: GetAMQList
      parameters:
        - in: query
          name: inclusion
          description: Defines what to fetch
          required: false
          schema:
            type: string
            enum:
              - all
              - minimal
        - in: query
          name: destinationType
          description: Defines what to fetch
          required: false
          schema:
            type: string
            enum:
              - all
              - queue
              - exchange
        - in: query
          name: offset
          description: Skip over a number of elements by specifying an offset value for the query.
          required: false
          schema:
            type: integer
            default: 0
        - in: query
          name: limit
          description: Limit the number of elements in the response.
          required: false
          schema:
            type: integer
            default: 20
        - in: query
          name: startsWith
          description: Searchs the field from the left using the passed string.
          required: false
          schema:
            type: string
        - in: query
          name: destinationIds
          description: Includes only results with the given Ids.
          required: false
          schema:
            type: array
            items:
              type: string

      description: Get a list of queues in a region
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '200':
          $ref: '#/components/responses/SuccessGetQueues'
  /organizations/{orgId}/environments/{envId}/regions/{regionId}/destinations/queues/{queueId}:
    parameters:
      - in: path
        name: orgId
        description: The organization Id
        required: true
        schema:
          type: string
      - in: path
        name: envId
        description: The environment id
        required: true
        schema:
          type: string
      - in: path
        name: regionId
        description: The region id
        required: true
        schema:
          type: string
      - in: path
        name: queueId
        description: The id of a specific queue
        required: true
        schema:
          type: string

    get:
      operationId: GetAMQ
      description: Get details about a queue
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '200':
          $ref: '#/components/responses/SuccessGetQueue'
    patch:
      operationId: UpdateAMQ
      description: Modify a queue's properties
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '200':
          $ref: '#/components/responses/SuccessGetQueue'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueBody'
    put:
      operationId: CreateAMQ
      description: Create queue
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '200':
          $ref: '#/components/responses/SuccessGetQueue'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueBody'
    delete:
      operationId: DeleteAMQ
      description: Delete queue
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':
          $ref: '#/components/responses/SuccessDeleteQueue'

components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    BadRequestError:
      description: Bad request response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                title: the response status code
                default: 400
              message:
                type: string
                title: the error message
                example: api error message
    NotFound:
      description: Queue not found
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                title: the response status code
                default: 404
              message:
                type: string
                title: the error message
                example: api error message
    SuccessGetQueues:
      description: Success response
      content:
        application/json:
          schema:
            type: array
            title: alerts from GET
            items:
              $ref: '#/components/schemas/queue'
    SuccessGetQueue:
      description: Success response
      content:
        application/json:
          schema:
            type: object
            title: alerts from GET
            $ref: '#/components/schemas/queue'
    SuccessCreateQueue:
      description: Successfully created queue
      content:
        application/json:
          schema:
            type: object
            title: queue created after POST
            $ref: '#/components/schemas/queue'
    SuccessDeleteQueue:
      description: Success response

  schemas:
    queue:
      title: queue
      type: object
      properties:
        queueId:
          type: string
          title: queueId
        defaultTtl:
          type: integer
          title: defaultTtl
        defaultLockTtl:
          type: integer
          title: defaultLockTtl
        type:
          type: string
          title: type
        encrypted:
          type: boolean
          title: encrypted
        defaultDeliveryDelay:
          type: integer
          title: defaultDeliveryDelay
        deadLetterQueueId:
          type: string
          title: deadLetterQueueId
        maxDeliveries:
          type: integer
          title: maxDeliveries
        fifo:
          type: boolean
          title: fifo

    queueBody:
      title: queueBody
      type: object
      properties:
        defaultTtl:
          type: integer
          nullable: true
          title: defaultTtl
        defaultLockTtl:
          type: integer
          nullable: true
          title: defaultLockTtl
        type:
          type: string
          nullable: true
          title: type
        encrypted:
          type: boolean
          nullable: true
          title: encrypted
        defaultDeliveryDelay:
          type: integer
          nullable: true
          title: defaultDeliveryDelay
        deadLetterQueueId:
          type: string
          nullable: true
          title: deadLetterQueueId
        maxDeliveries:
          type: integer
          nullable: true
          title: maxDeliveries
        fifo:
          type: boolean
          nullable: true
          title: fifo

