openapi: 3.0.3
info:
  title: API Manager Contract API
  description: API Manager Contract API
  version: 1.0.0

servers:
  - url: https://anypoint.mulesoft.com/apimanager/
    description: Anypoint Cloudhub
  - url: https://eu1.anypoint.mulesoft.com/apimanager/
    description: Anypoint Cloudhub EU
  - url: https://gov.anypoint.mulesoft.com/apimanager/
    description: Anypoint Cloudhub GOV

security:
  - bearerAuth: []

paths:
  /xapi/v1/organizations/{orgId}/environments/{envId}/apis/{apiId}/contracts:
    parameters:
      - in: path
        name: orgId
        description: The organization Id
        required: true
        schema:
          type: string
      - in: path
        name: envId
        description: The environment id
        required: true
        schema:
          type: string
      - in: path
        name: apiId
        description: The api manager instance id for a given environment
        required: true
        schema:
          type: string
      - in: query
        name: limit
        description: The maximum number of contracts to return
        required: false
        schema:
          type: integer
      - in: query
        name: offset
        description: The offset of the first contract to return
        required: false
        schema:
          type: integer
      - in: query
        name: sort
        description: The sort order of the contracts
        required: false
        schema:
          type: string
      - in: query
        name: ascending
        description: Order for sorting.
        required: false
        schema:
          type: boolean
    get:
      operationId: GetApiContracts
      summary: Retrieves all contracts for a given API in a given organization and environment
      description: Retrieves all contracts for a given API in a given organization and environment
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '200':    # status code
          $ref: '#/components/responses/SuccessGetApiContracts'

  /api/v1/organizations/{orgId}/environments/{envId}/apis/{apiId}/contracts/{contractId}:
    parameters:
      - in: path
        name: orgId
        description: The organization Id
        required: true
        schema:
          type: string
      - in: path
        name: envId
        description: The environment id
        required: true
        schema:
          type: string
      - in: path
        name: apiId
        description: The api manager instance id for a given environment
        required: true
        schema:
          type: string
      - in: path
        name: contractId
        description: The contract id
        required: true
        schema:
          type: string
    get:
      operationId: GetApiContract
      summary: Retrieves a contract for a given API in a given organization and environment
      description: Retrieves a contract for a given API in a given organization and environment
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '200':    # status code
          $ref: '#/components/responses/SuccessGetApiContract'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    BadRequestError:
      description: Bad request response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorsResponse"
    NotFoundError:
      description: resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              message:
                type: string
    SuccessGetApiContracts:
      description: Successful response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetContractsResponse'
    SuccessGetApiContract:
      description: Successful response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetContractResponse'

  schemas:
    ErrorsResponse:
      type: object
      title: errorsResponse
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                title: type
              dataPath:
                type: string
                title: dataPath
              keyword:
                type: string
                title: keyword
              schema:
                type: string
                title: schema
              data:
                type: string
                title: data
              message:
                type: string
                title: message
    GetContractsResponse:
      type: object
      properties:
        total:
          type: integer
          example: 4
        contracts:
          type: array
          items:
            $ref: '#/components/schemas/Contract'
    GetContractResponse:
      $ref: '#/components/schemas/ContractDetails'
    ContractDetails:
      type: object
      properties:
        audit:
          $ref: '#/components/schemas/Audit'
        masterOrganizationId:
          type: string
        organizationId:
          type: string
        id:
          type: integer
        status:
          type: string
        approvedDate:
          type: string
          nullable: true
        rejectedDate:
          type: string
          nullable: true
        revokedDate:
          type: string
          nullable: true
        applicationId:
          type: integer
        application:
          $ref: '#/components/schemas/ApplicationContractResponse'
        tierId:
          type: integer
        tier:
          $ref: '#/components/schemas/TierContractResponse'
        requestedTierId:
          type: integer
          nullable: true
        requestedTier:
          nullable: true
          $ref: '#/components/schemas/TierContractResponse'
        condition:
          type: string
          default: APPLIED
        apiId:
          type: integer
        api:
          type: object
          properties:
            audit:
              $ref: '#/components/schemas/Audit'
            organizationId:
              type: string
            id:
              type: integer
    Contract:
      type: object
      properties:
        audit:
          $ref: '#/components/schemas/Audit'
        masterOrganizationId:
          type: string
          example: 9a5c9842-3e68-452a-aa88-d100c3bdefba
        organizationId:
          type: string
          example: f02a5569-24ac-491a-964a-0950ab318728
        id:
          type: integer
          example: 6273842
        status:
          type: string
          enum: [APPROVED, REJECTED, REVOKED]
        approvedDate:
          type: string
          nullable: true
        rejectedDate:
          type: string
          nullable: true
        revokedDate:
          type: string
          nullable: true
        applicationId:
          type: integer
          example: 2349040
        application:
          $ref: '#/components/schemas/Application'
        tierId:
          type: integer
          nullable: true
          example: 1797161
        tier:
          $ref: '#/components/schemas/Tier'
          nullable: true
        requestedTierId:
          type: integer
          nullable: true
        requestedTier:
          type: object
          nullable: true
        terms:
          type: string
          nullable: true
        groupInstanceId:
          type: string
          nullable: true
        groupInstance:
          type: object
          nullable: true
        partyId:
          type: string
          nullable: true
        partyName:
          type: string
          nullable: true
        condition:
          type: string
          enum: [APPLIED]
        apiId:
          type: integer
          example: 18972610
        api:
          $ref: '#/components/schemas/ApiReference'
    Audit:
      type: object
      properties:
        created:
          $ref: '#/components/schemas/AuditDate'
        updated:
          $ref: '#/components/schemas/AuditDate'
    AuditDate:
      type: object
      properties:
        date:
          type: string
          example: 2024-08-06T10:55:50.073Z
    Application:
      type: object
      properties:
        audit:
          $ref: '#/components/schemas/Audit'
        id:
          type: integer
          example: 2349040
        name:
          type: string
          example: XPClient-AT-Extranet
        description:
          type: string
          nullable: true
        clientProvider:
          type: object
        coreServicesId:
          type: string
          example: babdf66b11cf463d9f012af5ef2cd221
        url:
          type: string
          nullable: true
    Tier:
      type: object
      properties:
        audit:
          $ref: '#/components/schemas/Audit'
        id:
          type: integer
          example: 1797161
        name:
          type: string
          example: Trusted client SLA
        description:
          type: string
          nullable: true
        limits:
          type: array
          items:
            $ref: '#/components/schemas/Limit'
        status:
          type: string
          enum: [ACTIVE, INACTIVE]
        autoApprove:
          type: boolean
    Limit:
      type: object
      properties:
        maximumRequests:
          type: integer
          format: int64
          example: 120
        timePeriodInMilliseconds:
          type: integer
          format: int64
          example: 1000
        visible:
          type: boolean
    ApiReference:
      type: object
      properties:
        audit:
          $ref: '#/components/schemas/Audit'
        organizationId:
          type: string
          example: f02a5569-24ac-491a-964a-0950ab318728
        id:
          type: integer
          example: 18972610
    ApplicationContractResponse:
      type: object
      properties:
        masterOrganizationId:
          type: string
          format: uuid
        id:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
        coreServicesId:
          type: string
        clientId:
          type: string
        clientProvider:
          type: object
          properties:
            providerId:
              type: string
              nullable: true
        owner:
          type: string
        email:
          type: string
        redirectUri:
          type: array
          items:
            type: string
        grantTypes:
          type: array
          items:
            type: string
        url:
          type: string
          nullable: true
        owners:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationOwner'
    TierContractResponse:
      type: object
      properties:
        audit:
          $ref: '#/components/schemas/Audit'
        id:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
        limits:
          type: array
          items:
            type: object
            properties:
              maximumRequests:
                type: number
              timePeriodInMilliseconds:
                type: number
              visible:
                type: boolean
        status:
          type: string
          enum: [ACTIVE, INACTIVE]
        autoApprove:
          type: boolean
    ApplicationOwner:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        username:
          type: string
        entityType:
          type: string
          enum: [user]
