openapi: 3.0.0
info:
  title: Identity Provider Management API
  description: Description of Identity Provider API
  version: 1.0.0
servers:
  - url: https://anypoint.mulesoft.com/accounts/api/
    description: Anypoint Cloudhub
  - url: https://eu1.anypoint.mulesoft.com/accounts/api/
    description: Anypoint Cloudhub EU
  - url: https://gov.anypoint.mulesoft.com/accounts/api/
    description: Anypoint Cloudhub GOV

security:
  - bearerAuth: []

paths:
  /organizations/{orgId}/identityProviders:
    get:
      description: Returns all identity providers for the given organization
      parameters:
        - name: orgId
          in: path
          description: The ID of the organization in GUID format
          required: true
          schema:
            type: string
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '200':    # status code 200
          $ref: '#/components/responses/SuccessListIDPs'
    post:
      description: Creates an IDP connection through SAML or OIDC
      parameters:
        - name: orgId
          in: path
          description: The ID of the organization in GUID format
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/idpPostBody"
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '200':    # status code 200
          $ref: '#/components/responses/SuccessPostIDP'

  /organizations/{orgId}/identityProviders/{idpId}:
    get:
      description: Returns all identity providers for the given organization
      parameters:
        - name: orgId
          in: path
          description: The ID of the organization in GUID format
          required: true
          schema:
            type: string
        - name: idpId
          in: path
          description: The ID of the Identity Provider in GUID format
          required: true
          schema:
            type: string
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '200':    # status code 200
          $ref: '#/components/responses/SuccessGetIDP'
    patch:
      description: Updates the given identity provider for the given organization
      parameters:
        - name: orgId
          in: path
          description: The ID of the organization in GUID format
          required: true
          schema:
            type: string
        - name: idpId
          in: path
          description: The ID of the Identity Provider in GUID format
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/idpPatchBody"
      responses:
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '200':    # status code 200
          $ref: '#/components/responses/SuccessPatchIDP'
    delete:
      description: Deletes the given identity provider for the given organization
      parameters:
        - name: orgId
          in: path
          description: The ID of the organization in GUID format
          required: true
          schema:
            type: string
        - name: idpId
          in: path
          description: The ID of the Identity Provider in GUID format
          required: true
          schema:
            type: string
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '204':    # status code 200
          $ref: '#/components/responses/SuccessDeleteIDP'


components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    BadRequestError:
      description: Bad request response
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  properties:
                    type:
                      type: string
                    keyword:
                      type: string
                    schemas:
                      type: string
                    message:
                      type: string
                      title: the error message
                      example: A sample message here
    NotFoundError:
      description: Not Found response
      content:
        plain/text:
          schema:
            example: This resource does not exist
    SuccessGetIDP:
      description: Success response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/idp'
    SuccessPostIDP:
      description: Success response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/idp'
    SuccessPatchIDP:
      description: Success response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/idp'
    SuccessDeleteIDP:
      description: Success response
    SuccessListIDPs:
      description: Success response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                title: List of envs
                items:
                  $ref: '#/components/schemas/idpSummary'
              total:
                type: integer
                title: Total number of results

  schemas:
    idp:
      title: idp
      oneOf:
        - $ref: '#/components/schemas/samlProviderGet'
        - $ref: '#/components/schemas/ldapProviderGet'
        - $ref: '#/components/schemas/openIDProviderGet'

    idpPostBody:
      oneOf:
        - $ref: '#/components/schemas/samlProviderPostBody'
        - $ref: '#/components/schemas/ldapProviderPostBody'
        - $ref: '#/components/schemas/openIDProviderManualPostBody'
        - $ref: '#/components/schemas/openIDProviderDynamicPostBody'

    idpPatchBody:
      oneOf:
        - $ref: '#/components/schemas/samlProviderPatch'
        - $ref: '#/components/schemas/ldapProviderPatch'
        - $ref: '#/components/schemas/openIDProviderPatch'

    samlProviderPostBody:
      type: object
      additionalProperties: false
      required:
        - name
        - type
        - service_provider
        - saml
      properties:
        arc_namespace:
          type: string
        name:
          type: string
        type:
          type: object
          additionalProperties: false
          required:
            - name
          properties:
            description:
              type: string
            name:
              type: string
              enum:
                - saml
        service_provider:
          type: object
          additionalProperties: false
          required:
            - urls
          properties:
            urls:
              type: object
              additionalProperties: false
              required:
                - sign_on
                - sign_out
              properties:
                sign_on:
                  type: string
                sign_out:
                  type: string
        saml:
          type: object
          additionalProperties: false
          required:
            - audience
            - issuer
            - public_key
          properties:
            audience:
              type: string
            issuer:
              type: string
            public_key:
              type: array
              items:
                type: string
              minItems: 1
              maxItems: 2
            claims_mapping:
              type: object
              additionalProperties: false
              properties:
                username_attribute:
                  type: string
                firstname_attribute:
                  type: string
                lastname_attribute:
                  type: string
                email_attribute:
                  type: string
                group_attribute:
                  type: string
            idp_initiated_sso_enabled:
              type: boolean
            sp_initiated_sso_enabled:
              type: boolean
            use_composer_acs_url:
              type: boolean
            require_encrypted_saml_assertions:
              type: boolean
        login_disabled:
          type: boolean
    ldapProviderPostBody:
      type: object
      additionalProperties: false
      required:
        - name
        - type
        - connection
        - search_bases
        - dns
        - filters
        - user_mapping
        - group_mapping
      properties:
        name:
          type: string
        arc_namespace:
          type: string
        type:
          type: object
          additionalProperties: false
          required:
            - name
          properties:
            description:
              type: string
            name:
              type: string
              enum:
                - ldap
        connection:
          type: object
          additionalProperties: false
          required:
            - binddn
            - connectTimeoutSeconds
            - host
            - operationTimeoutMs
            - password
            - port
          properties:
            binddn:
              type: string
            connectTimeoutSeconds:
              type: number
            host:
              type: string
            operationTimeoutMs:
              type: number
            password:
              type: string
            port:
              type: number
            validatecert:
              type: boolean
        search_bases:
          type: object
          additionalProperties: false
          required:
            - group
            - user
          properties:
            group:
              type: string
            user:
              type: string
        dns:
          type: object
          additionalProperties: false
          required:
            - group
            - user
          properties:
            group:
              type: string
            user:
              type: string
        filters:
          type: object
          additionalProperties: false
          required:
            - groupsByUsername
            - userByUsername
          properties:
            groupsByUsername:
              type: string
            userByUsername:
              type: string
        user_mapping:
          type: object
          additionalProperties: false
          required:
            - email
            - firstName
            - id
            - lastName
            - username
          properties:
            email:
              type: string
            firstName:
              type: string
            id:
              type: string
            lastName:
              type: string
            username:
              type: string
        group_mapping:
          type: object
          additionalProperties: false
          required:
            - groupName
            - id
          properties:
            groupName:
              type: string
            id:
              type: string
    openIDProviderManualPostBody:
      type: object
      additionalProperties: false
      required:
        - name
        - type
        - oidc_provider
      properties:
        name:
          type: string
        arc_namespace:
          type: string
        type:
          type: object
          additionalProperties: false
          required:
            - name
          properties:
            description:
              type: string
            name:
              type: string
              enum:
                - openid
        oidc_provider:
          type: object
          additionalProperties: false
          required:
            - client
            - urls
          properties:
            client:
              type: object
              additionalProperties: false
              required:
                - credentials
              properties:
                credentials:
                  type: object
                  additionalProperties: false
                  required:
                    - id
                    - secret
                  properties:
                    id:
                      type: string
                    secret:
                      type: string
            issuer:
              type: string
            urls:
              type: object
              additionalProperties: false
              required:
                - authorize
                - token
                - userinfo
              properties:
                authorize:
                  type: string
                token:
                  type: string
                userinfo:
                  type: string
            group_scope:
              type: string
            claims_mapping:
              type: object
              additionalProperties: false
              properties:
                group_expression:
                  type: string
        allow_untrusted_certificates:
          type: boolean
        login_disabled:
          type: boolean
    openIDProviderDynamicPostBody:
      type: object
      additionalProperties: false
      required:
        - name
        - type
        - oidc_provider
      properties:
        name:
          type: string
        arc_namespace:
          type: string
        type:
          type: object
          additionalProperties: false
          required:
            - name
          properties:
            description:
              type: string
            name:
              type: string
              enum:
                - openid
        oidc_provider:
          type: object
          additionalProperties: false
          required:
            - client
            - urls
          properties:
            client:
              type: object
              additionalProperties: false
              required:
                - urls
              properties:
                urls:
                  type: object
                  additionalProperties: false
                  required:
                    - register
                  properties:
                    register:
                      type: string
                registration:
                  type: object
                  additionalProperties: false
                  required:
                    - authorization
                  properties:
                    authorization:
                      type: string
                metadata:
                  type: object
                  additionalProperties: false
                  properties:
                    name:
                      type: string
            issuer:
              type: string
            urls:
              type: object
              additionalProperties: false
              required:
                - authorize
                - token
                - userinfo
              properties:
                authorize:
                  type: string
                token:
                  type: string
                userinfo:
                  type: string
            group_scope:
              type: string
            claims_mapping:
              type: object
              additionalProperties: false
              properties:
                group_expression:
                  type: string
        allow_untrusted_certificates:
          type: boolean
        login_disabled:
          type: boolean

    samlProviderPatch:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        type:
          type: object
          additionalProperties: false
          properties:
            description:
              type: string
        service_provider:
          type: object
          additionalProperties: false
          properties:
            urls:
              type: object
              additionalProperties: false
              properties:
                sign_on:
                  type: string
                sign_out:
                  type: string
        saml:
          type: object
          additionalProperties: false
          properties:
            audience:
              type: string
            issuer:
              type: string
            public_key:
              type: array
              items:
                type: string
              minItems: 1
              maxItems: 2
            claims_mapping:
              type: object
              additionalProperties: false
              properties:
                username_attribute:
                  type: string
                firstname_attribute:
                  type: string
                lastname_attribute:
                  type: string
                email_attribute:
                  type: string
                group_attribute:
                  type: string
            idp_initiated_sso_enabled:
              type: boolean
            sp_initiated_sso_enabled:
              type: boolean
            use_composer_acs_url:
              type: boolean
            require_encrypted_saml_assertions:
              type: boolean
        login_disabled:
          type: boolean
    ldapProviderPatch:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        type:
          type: object
          additionalProperties: false
          properties:
            description:
              type: string
        connection:
          type: object
          additionalProperties: false
          properties:
            binddn:
              type: string
            connectTimeoutSeconds:
              type: number
            host:
              type: string
            operationTimeoutMs:
              type: number
            password:
              type: string
            port:
              type: number
            validatecert:
              type: boolean
        search_bases:
          type: object
          additionalProperties: false
          properties:
            group:
              type: string
            user:
              type: string
        dns:
          type: object
          additionalProperties: false
          properties:
            group:
              type: string
            user:
              type: string
        filters:
          type: object
          additionalProperties: false
          properties:
            groupsByUsername:
              type: string
            userByUsername:
              type: string
        user_mapping:
          type: object
          additionalProperties: false
          properties:
            email:
              type: string
            firstName:
              type: string
            id:
              type: string
            lastName:
              type: string
            username:
              type: string
        group_mapping:
          type: object
          additionalProperties: false
          properties:
            groupName:
              type: string
            id:
              type: string
    openIDProviderPatch:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        type:
          type: object
          additionalProperties: false
          properties:
            description:
              type: string
        oidc_provider:
          type: object
          additionalProperties: false
          properties:
            client:
              type: object
              additionalProperties: false
              properties:
                credentials:
                  type: object
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    secret:
                      type: string
                urls:
                  type: object
                  additionalProperties: false
                  properties:
                    register:
                      type: string
                registration:
                  type: object
                  additionalProperties: false
                  properties:
                    authorization:
                      type: string
                metadata:
                  type: object
                  additionalProperties: false
                  properties:
                    name:
                      type: string
            issuer:
              type: string
            urls:
              type: object
              additionalProperties: false
              properties:
                authorize:
                  type: string
                token:
                  type: string
                userinfo:
                  type: string
            group_scope:
              type: string
            claims_mapping:
              type: object
              additionalProperties: false
              properties:
                group_expression:
                  type: string
        allow_untrusted_certificates:
          type: boolean
        login_disabled:
          type: boolean

    samlProviderGet:
      type: object
      additionalProperties: false
      required:
        - name
        - org_id
        - saml
        - service_provider
        - provider_id
        - type
      properties:
        name:
          type: string
        org_id:
          type: string
        saml:
          type: object
          additionalProperties: false
          required:
            - audience
            - issuer
            - public_key
          properties:
            audience:
              type: string
            issuer:
              type: string
            public_key:
              type: array
              items:
                type: string
              minItems: 1
              maxItems: 2
            claims_mapping:
              type: object
              additionalProperties: false
              properties:
                username_attribute:
                  type: string
                firstname_attribute:
                  type: string
                lastname_attribute:
                  type: string
                email_attribute:
                  type: string
                group_attribute:
                  type: string
            idp_initiated_sso_enabled:
              type: boolean
            sp_initiated_sso_enabled:
              type: boolean
            use_composer_acs_url:
              type: boolean
            require_encrypted_saml_assertions:
              type: boolean
        service_provider:
          type: object
          additionalProperties: false
          required:
            - urls
          properties:
            urls:
              type: object
              additionalProperties: false
              required:
                - sign_on
                - sign_out
              properties:
                sign_on:
                  type: string
                sign_out:
                  type: string
        login_disabled:
          type: boolean
        arc_namespace:
          type: string
        provider_id:
          type: string
        type:
          type: object
          additionalProperties: false
          required:
            - name
          properties:
            description:
              type: string
            name:
              type: string
              enum:
                - saml
    ldapProviderGet:
      type: object
      additionalProperties: false
      required:
        - user_mapping
        - filters
        - name
        - org_id
        - dns
        - group_mapping
        - connection
        - provider_id
        - type
        - search_bases
      properties:
        user_mapping:
          type: object
          additionalProperties: false
          required:
            - email
            - firstName
            - id
            - lastName
            - username
          properties:
            email:
              type: string
            firstName:
              type: string
            id:
              type: string
            lastName:
              type: string
            username:
              type: string
        filters:
          type: object
          additionalProperties: false
          required:
            - groupsByUsername
            - userByUsername
          properties:
            groupsByUsername:
              type: string
            userByUsername:
              type: string
        name:
          type: string
        org_id:
          type: string
        dns:
          type: object
          additionalProperties: false
          required:
            - group
            - user
          properties:
            group:
              type: string
            user:
              type: string
        group_mapping:
          type: object
          additionalProperties: false
          required:
            - groupName
            - id
          properties:
            groupName:
              type: string
            id:
              type: string
        connection:
          type: object
          additionalProperties: false
          required:
            - binddn
            - connectTimeoutSeconds
            - host
            - operationTimeoutMs
            - password
            - port
          properties:
            binddn:
              type: string
            connectTimeoutSeconds:
              type: number
            host:
              type: string
            operationTimeoutMs:
              type: number
            password:
              type: string
            port:
              type: number
            validatecert:
              type: boolean
        arc_namespace:
          type: string
        provider_id:
          type: string
        type:
          type: object
          additionalProperties: false
          required:
            - name
          properties:
            description:
              type: string
            name:
              type: string
              enum:
                - ldap
        search_bases:
          type: object
          additionalProperties: false
          required:
            - group
            - user
          properties:
            group:
              type: string
            user:
              type: string
    openIDProviderGet:
      type: object
      additionalProperties: false
      required:
        - oidc_provider
        - name
        - org_id
        - service_provider
        - allow_untrusted_certificates
        - type
        - provider_id
      properties:
        oidc_provider:
          type: object
          additionalProperties: false
          required:
            - client
            - issuer
            - urls
          properties:
            client:
              type: object
              additionalProperties: false
              required:
                - credentials
              properties:
                credentials:
                  type: object
                  additionalProperties: false
                  required:
                    - id
                  properties:
                    id:
                      type: string
                    secret:
                      type: string
                urls:
                  type: object
                  additionalProperties: false
                  required:
                    - register
                  properties:
                    register:
                      type: string
                registration:
                  type: object
                  additionalProperties: false
                  properties:
                    authorization:
                      type: string
                metadata:
                  type: object
                  additionalProperties: false
                  properties:
                    name:
                      type: string
                token_endpoint_auth_methods_supported:
                  type: array
                  items:
                    type: string
            issuer:
              type: string
            urls:
              type: object
              additionalProperties: false
              required:
                - authorize
                - redirect
                - token
                - userinfo
              properties:
                authorize:
                  type: string
                redirect:
                  type: string
                token:
                  type: string
                userinfo:
                  type: string
            group_scope:
              type: string
            claims_mapping:
              type: object
              additionalProperties: false
              properties:
                group_expression:
                  type: string
        name:
          type: string
        org_id:
          type: string
        service_provider:
          type: object
          additionalProperties: false
          required:
            - urls
          properties:
            urls:
              type: object
              additionalProperties: false
              required:
                - sign_on
              properties:
                sign_on:
                  type: string
        login_disabled:
          type: boolean
        allow_untrusted_certificates:
          type: boolean
        type:
          type: object
          additionalProperties: false
          required:
            - name
          properties:
            description:
              type: string
            name:
              type: string
              enum:
                - openid
        provider_id:
          type: string
        arc_namespace:
          type: string


    idpSummary:
      type: object
      additionalProperties: false
      required:
        - provider_id
        - org_id
        - name
        - type
      properties:
        provider_id:
          type: string
        org_id:
          type: string
        name:
          type: string
        type:
          type: object
          additionalProperties: false
          required:
            - name
          properties:
            description:
              type: string
            name:
              type: string
              enum:
                - ldap
                - openid
                - saml

