openapi: 3.0.0
info:
  title: Organization API
  description: Description of the Organization API 
  version: 1.0.0
servers:
  - url: https://anypoint.mulesoft.com/accounts/api/
    description: Anypoint Cloudhub 
  - url: https://eu1.anypoint.mulesoft.com/accounts/api/
    description: Anypoint Cloudhub EU
  - url: https://gov.anypoint.mulesoft.com/accounts/api/
    description: Anypoint Cloudhub GOV

security:
  - bearerAuth: [] 

paths:
  /organizations:
    post:
      summary: Creates a new Business Group within an organization.
      description: Creates a new Business Group within an organization. This action can only be performed with an access token generated from user/pwd.
      requestBody:
        description: Business Group Request Body Object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BGPostReqBody'
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '201':
          $ref: '#/components/responses/SuccessPostBG'
  
  /organizations/{orgId}:
    parameters:
      - in: path
        name: orgId
        description: The organization Id
        required: true
        schema:
          type: string
    get:
      summary: Returns the business Group instance with the given id.
      description: Returns the Business Group with the given id 
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '200':    # status code
          $ref: '#/components/responses/SuccessGetBG'
    put:
      summary: Put a Business Group by its id.
      description: Put a Business Group by its given id. 
      requestBody:
        description: Business Group Request Body Object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BGPutReqBody'
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':    # status code
          $ref: '#/components/responses/SuccessPutBG'
    delete:
      summary: Delete a Business Group by its id.
      description: Delete a Business Group by its given id. 
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':    # status code
          $ref: '#/components/responses/SuccessDeleteBG'


components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    BadRequestError:
      description: Bad request response
      content:
        text/html:
          schema:
            type: string
            title: the error message
            example: "Organization Name provided is empty"
    SuccessGetBG:
      description: Success response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/masterBGDetail'
    SuccessPostBG:
      description: Success response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BGCore'
    SuccessDeleteBG:
      description: Success response
      content:
        application/json:
          schema:
            type: object
            default: {}
    SuccessPutBG:
      description: Success response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BGCore'
    

  schemas:
    BGPostReqBody:
      properties:
        entitlements:
          $ref: "#/components/schemas/entitlementsCore"
        name:
          default: ''
          description: An explanation about the purpose of this instance.
          title: name
          type: string
        ownerId:
          default: ''
          description: An explanation about the purpose of this instance.
          title: ownerId
          type: string
        parentOrganizationId:
          default: ''
          description: An explanation about the purpose of this instance.
          title: parentOrganizationId
          type: string
      required:
      - name
      - parentOrganizationId
      - ownerId
      - entitlements
      title: BGPostReqBody
      type: object

    BGPutReqBody:
      title: BGPutReqBody
      type: object
      properties:
        entitlements:
          $ref: "#/components/schemas/entitlementsCore"
        name:
          default: ''
          description: An explanation about the purpose of this instance.
          title: name
          type: string
        ownerId:
          default: ''
          description: An explanation about the purpose of this instance.
          title: ownerId
          type: string
        sessionTimeout:
            default: 0
            description: An explanation about the purpose of this instance.
            title: sessionTimeout
            type: integer

    BGCore:
      properties:
        clientId:
            default: ''
            description: An explanation about the purpose of this instance.
            example:
            - 1ab4bb7db66448be902379d1fcfb1a43
            title: clientId
            type: string
        createdAt:
            default: ''
            description: An explanation about the purpose of this instance.
            example:
            - '2021-03-05T14:06:52.976Z'
            title: createdAt
            type: string
        domain:
            default: ''
            description: An explanation about the purpose of this instance.
            example:
            - ms-04
            title: domain
            type: string
        entitlements:
          $ref: "#/components/schemas/entitlements"
        environments:
            default: []
            description: An explanation about the purpose of this instance.
            items:
                default: {}
                description: An explanation about the purpose of this instance.
                properties:
                    clientId:
                        default: ''
                        description: An explanation about the purpose of this instance.
                        title: clientId
                        type: string
                    id:
                        default: ''
                        description: An explanation about the purpose of this instance.
                        title: id
                        type: string
                    isProduction:
                        default: false
                        description: An explanation about the purpose of this instance.
                        title: isProduction
                        type: boolean
                    name:
                        default: ''
                        description: An explanation about the purpose of this instance.
                        title: name
                        type: string
                    organizationId:
                        default: ''
                        description: An explanation about the purpose of this instance.
                        title: organizationId
                        type: string
                    type:
                        default: ''
                        description: An explanation about the purpose of this instance.
                        title: type
                        type: string
                required:
                - id
                - name
                - organizationId
                - isProduction
                - type
                - clientId
                title: environment
                type: object
            title: environments
            type: array
        id:
            default: ''
            description: An explanation about the purpose of this instance.
            title: id
            type: string
        idprovider_id:
            default: ''
            description: An explanation about the purpose of this instance.
            title: idprovider_id
            type: string
        isAutomaticAdminPromotionExempt:
            default: false
            description: An explanation about the purpose of this instance.
            title: isAutomaticAdminPromotionExempt
            type: boolean
        isFederated:
            default: false
            description: An explanation about the purpose of this instance.
            title: isFederated
            type: boolean
        isMaster:
            default: false
            description: An explanation about the purpose of this instance.
            title: isMaster
            type: boolean
        mfaRequired:
            default: ''
            description: An explanation about the purpose of this instance.
            title: mfaRequired
            type: string
        name:
            default: ''
            description: An explanation about the purpose of this instance.
            title: name
            type: string
        ownerId:
            default: ''
            description: An explanation about the purpose of this instance.
            title: ownerId
            type: string
        parentOrganizationIds:
            default: []
            description: An explanation about the purpose of this instance.
            items:
              title: parentOrganizationId
              type: string
            title: parentOrganizationIds
            type: array
        properties:
            default: {}
            description: An explanation about the purpose of this instance.
            title: properties
            type: object
        subOrganizationIds:
            default: []
            description: An explanation about the purpose of this instance.
            items:
                default: ''
                description: An explanation about the purpose of this instance.
                title: subOrganizationId
                type: string
            title: subOrganizationIds
            type: array
        tenantOrganizationIds:
            default: []
            description: An explanation about the purpose of this instance.
            items:
              title: tenantOrganizationId
              type: string
            title: tenantOrganizationIds
            type: array
        updatedAt:
            default: ''
            description: An explanation about the purpose of this instance.
            title: updatedAt
            type: string
        owner:
            properties:
                createdAt:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: createdAt
                    type: string
                deleted:
                    default: false
                    description: An explanation about the purpose of this instance.
                    title: deleted
                    type: boolean
                email:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: The email schema
                    type: string
                enabled:
                    default: false
                    description: An explanation about the purpose of this instance.
                    title: enabled
                    type: boolean
                firstName:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: firstName
                    type: string
                id:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: id
                    type: string
                idprovider_id:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: idprovider_id
                    type: string
                lastLogin:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: lastLogin
                    type: string
                lastName:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: lastName
                    type: string
                mfaVerificationExcluded:
                    default: false
                    description: An explanation about the purpose of this instance.
                    title: mfaVerificationExcluded
                    type: boolean
                mfaVerifiersConfigured:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: mfaVerifiersConfigured
                    type: string
                organizationId:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: organizationId
                    type: string
                phoneNumber:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: phoneNumber
                    type: string
                type:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: type
                    type: string
                updatedAt:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: updatedAt
                    type: string
                username:
                    default: ''
                    description: An explanation about the purpose of this instance.
                    title: username
                    type: string
            title: owner
            type: object
      title: BGCore
      type: object

    masterBGDetail:
      title: masterBGDetail
      allOf:
        - $ref: "#/components/schemas/BGCore"
        - properties:
            sessionTimeout:
                default: 0
                description: An explanation about the purpose of this instance.
                title: sessionTimeout
                type: integer
            subscription:
                default: {}
                description: An explanation about the purpose of this instance.
                properties:
                    category:
                        default: ''
                        description: An explanation about the purpose of this instance.
                        title: category
                        type: string
                    expiration:
                        default: ''
                        description: An explanation about the purpose of this instance.
                        title: expiration
                        type: string
                    type:
                        default: ''
                        description: An explanation about the purpose of this instance.
                        title: type
                        type: string
                title: subscription
                type: object
          title: masterBGSpecificDetails
          type: object

    entitlements:
      description: An explanation about the purpose of this instance.
      properties:
          angGovernance:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  level:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      example:
                      - -1
                      title: level
                      type: integer
              required:
              - level
              title: angGovernance
              type: object
          anypointSecurityEdgePolicies:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: anypointSecurityEdgePolicies
              type: object
          anypointSecurityTokenization:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: anypointSecurityTokenization
              type: object
          apiCommunityManager:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: apiCommunityManager
              type: object
          apiMonitoring:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  schedules:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: schedules
                      type: integer
              required:
              - schedules
              title: apiMonitoring
              type: object
          apiQuery:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
                  productSKU:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: productSKU
                      type: integer
              required:
              - enabled
              title: apiQuery
              type: object
          apiQueryC360:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: apiQueryC360
              type: object
          apis:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: apis
              type: object
          appViz:
              default: false
              description: An explanation about the purpose of this instance.
              title: appViz
              type: boolean
          armAlerts:
              default: false
              description: An explanation about the purpose of this instance.
              title: armAlerts
              type: boolean
          autoscaling:
              default: false
              description: An explanation about the purpose of this instance.
              title: autoscaling
              type: boolean
          cam:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: cam
              type: object
          createEnvironments:
              default: false
              description: An explanation about the purpose of this instance.
              title: createEnvironments
              type: boolean
          createSubOrgs:
              default: false
              description: An explanation about the purpose of this instance.
              title: createSubOrgs
              type: boolean
          crowd:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  environments:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: environments
                      type: boolean
                  hideApiManagerDesigner:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: hideApiManagerDesigner
                      type: boolean
                  hideFormerApiPlatform:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: hideFormerApiPlatform
                      type: boolean
              required:
              - hideApiManagerDesigner
              - hideFormerApiPlatform
              - environments
              title: crowd
              type: object
          crowdSelfServiceMigration:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: crowdSelfServiceMigration
              type: object
          designCenter:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  api:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: api
                      type: boolean
                  mozart:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: mozart
                      type: boolean
              title: The designCenter schema
              type: object
          exchange2:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: exchange2
              type: object
          externalIdentity:
              default: false
              description: An explanation about the purpose of this instance.
              title: externalIdentity
              type: boolean
          gateways:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: integer
              required:
              - assigned
              title: gateways
              type: object
          globalDeployment:
              default: false
              description: An explanation about the purpose of this instance.
              title: globalDeployment
              type: boolean
          hybrid:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: The hybrid schema
              type: object
          hybridAutoDiscoverProperties:
              default: false
              description: An explanation about the purpose of this instance.
              title: hybridAutoDiscoverProperties
              type: boolean
          hybridInsight:
              default: false
              description: An explanation about the purpose of this instance.
              title: hybridInsight
              type: boolean
          kpiDashboard:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: kpiDashboard
              type: object
          loadBalancer:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: integer
                  reassigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: reassigned
                      type: integer
              required:
              - assigned
              title: loadBalancer
              type: object
          messaging:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: integer
              required:
              - assigned
              title: messaging
              type: object
          monitoringCenter:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  productSKU:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: productSKU
                      type: integer
              required:
              - productSKU
              title: monitoringCenter
              type: object
          mqAdvancedFeatures:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: mqAdvancedFeatures
              type: object
          mqMessages:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  addOn:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: addOn
                      type: integer
                  base:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: base
                      type: integer
              title: mqMessages
              type: object
          mqRequests:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  addOn:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: addOn
                      type: integer
                  base:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: base
                      type: integer
              title: mqRequests
              type: object
          objectStoreKeys:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  addOn:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: addOn
                      type: integer
                  base:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: base
                      type: integer
              title: objectStoreKeys
              type: object
          objectStoreRequestUnits:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  addOn:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: addOn
                      type: integer
                  base:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: base
                      type: integer
              title: objectStoreRequestUnits
              type: object
          partnersProduction:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: integer
              required:
              - assigned
              title: partnersProduction
              type: object
          partnersSandbox:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: integer
              required:
              - assigned
              title: partnersSandbox
              type: object
          pcf:
              default: false
              description: An explanation about the purpose of this instance.
              title: pcf
              type: boolean
          runtimeFabric:
              default: false
              description: An explanation about the purpose of this instance.
              title: runtimeFabric
              type: boolean
          runtimeFabricCloud:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: runtimeFabricCloud
              type: object
          serviceMesh:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: serviceMesh
              type: object
          staticIps:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: integer
                  reassigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: reassigned
                      type: integer
              required:
              - assigned
              title: staticIps
              type: object
          tradingPartnersProduction:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: integer
              required:
              - assigned
              title: tradingPartnersProduction
              type: object
          tradingPartnersSandbox:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: integer
              required:
              - assigned
              title: tradingPartnersSandbox
              type: object
          vCoresDesign:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: number
                  reassigned:
                      default: 0.0
                      description: An explanation about the purpose of this instance.
                      title: reassigned
                      type: number
              required:
              - assigned
              title: vCoresDesign
              type: object
          vCoresProduction:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: number
                  reassigned:
                      default: 0.0
                      description: An explanation about the purpose of this instance.
                      title: reassigned
                      type: number
              required:
              - assigned
              title: vCoresProduction
              type: object
          vCoresSandbox:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: number
                  reassigned:
                      default: 0.0
                      description: An explanation about the purpose of this instance.
                      title: reassigned
                      type: number
              required:
              - assigned
              title: vCoresSandbox
              type: object
          vpcs:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: integer
                  reassigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: reassigned
                      type: integer
              required:
              - assigned
              title: vpcs
              type: object
          vpns:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: integer
                  reassigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: reassigned
                      type: integer
              required:
              - assigned
              title: vpns
              type: object
          workerClouds:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  assigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: assigned
                      type: integer
                  reassigned:
                      default: 0
                      description: An explanation about the purpose of this instance.
                      title: reassigned
                      type: integer
              required:
              - assigned
              title: workerClouds
              type: object
          workerLoggingOverride:
              default: {}
              description: An explanation about the purpose of this instance.
              properties:
                  enabled:
                      default: false
                      description: An explanation about the purpose of this instance.
                      title: enabled
                      type: boolean
              required:
              - enabled
              title: workerLoggingOverride
              type: object
      required:
      - createEnvironments
      - globalDeployment
      - createSubOrgs
      - vCoresProduction
      - vCoresSandbox
      - vCoresDesign
      - staticIps
      - vpcs
      - vpns
      - loadBalancer
      title: entitlements
      type: object

    entitlementsCore:
      description: An explanation about the purpose of this instance.
      properties:
        globalDeployment:
              default: false
              description: An explanation about the purpose of this instance.
              title: globalDeployment
              type: boolean
        createEnvironments:
            default: false
            description: An explanation about the purpose of this instance.
            title: createEnvironments
            type: boolean
        createSubOrgs:
            default: false
            description: An explanation about the purpose of this instance.
            title: createSubOrgs
            type: boolean
        loadBalancer:
            default: {}
            description: An explanation about the purpose of this instance.
            properties:
                assigned:
                    default: 0
                    description: An explanation about the purpose of this instance.
                    title: assigned
                    type: integer
                reassigned:
                    default: 0
                    description: An explanation about the purpose of this instance.
                    title: reassigned
                    type: integer
            required:
            - assigned
            title: loadBalancer
            type: object
        staticIps:
            default: {}
            description: An explanation about the purpose of this instance.
            properties:
                assigned:
                    default: 0
                    description: An explanation about the purpose of this instance.
                    title: assigned
                    type: integer
                reassigned:
                    default: 0
                    description: An explanation about the purpose of this instance.
                    title: reassigned
                    type: integer
            required:
            - assigned
            title: staticIps
            type: object
        vCoresDesign:
            default: {}
            description: An explanation about the purpose of this instance.
            properties:
                assigned:
                    default: 0
                    description: An explanation about the purpose of this instance.
                    title: assigned
                    type: number
                reassigned:
                    default: 0.0
                    description: An explanation about the purpose of this instance.
                    title: reassigned
                    type: number
            required:
            - assigned
            title: vCoresDesign
            type: object
        vCoresProduction:
            default: {}
            description: An explanation about the purpose of this instance.
            properties:
                assigned:
                    default: 0
                    description: An explanation about the purpose of this instance.
                    title: assigned
                    type: number
                reassigned:
                    default: 0.0
                    description: An explanation about the purpose of this instance.
                    title: reassigned
                    type: number
            required:
            - assigned
            title: vCoresProduction
            type: object
        vCoresSandbox:
            default: {}
            description: An explanation about the purpose of this instance.
            properties:
                assigned:
                    default: 0
                    description: An explanation about the purpose of this instance.
                    title: assigned
                    type: number
                reassigned:
                    default: 0.0
                    description: An explanation about the purpose of this instance.
                    title: reassigned
                    type: number
            required:
            - assigned
            title: vCoresSandbox
            type: object
        vpcs:
            default: {}
            description: An explanation about the purpose of this instance.
            properties:
                assigned:
                    default: 0
                    description: An explanation about the purpose of this instance.
                    title: assigned
                    type: integer
                reassigned:
                    default: 0
                    description: An explanation about the purpose of this instance.
                    title: reassigned
                    type: integer
            required:
            - assigned
            title: vpcs
            type: object
        vpns:
            default: {}
            description: An explanation about the purpose of this instance.
            properties:
                assigned:
                    default: 0
                    description: An explanation about the purpose of this instance.
                    title: assigned
                    type: integer
                reassigned:
                    default: 0
                    description: An explanation about the purpose of this instance.
                    title: reassigned
                    type: integer
            required:
            - assigned
            title: vpns
            type: object
      required:
      - createEnvironments
      - globalDeployment
      - createSubOrgs
      - vCoresProduction
      - vCoresSandbox
      - vCoresDesign
      - staticIps
      - vpcs
      - vpns
      - loadBalancer
      title: entitlementsCore
      type: object
