openapi: 3.0.0
info:
  title: Secret Group Keystore API
  description: Secret Group Keystore API
  version: 1.0.0

servers:
  - url: https://anypoint.mulesoft.com/secrets-manager/api/v1/
    description: Anypoint Cloudhub
  - url: https://eu1.anypoint.mulesoft.com/secrets-manager/api/v1/
    description: Anypoint Cloudhub EU
  - url: https://gov.anypoint.mulesoft.com/secrets-manager/api/v1/
    description: Anypoint Cloudhub GOV

security:
  - bearerAuth: []

paths:
  /organizations/{orgId}/environments/{envId}/secretGroups/{secretGroupId}/keystores:
    parameters:
      - in: path
        name: orgId
        description: The organization Id
        required: true
        schema:
          type: string
      - in: path
        name: envId
        description: The environment id
        required: true
        schema:
          type: string
      - in: path
        name: secretGroupId
        description: The secret group id
        required: true
        schema:
          type: string
    get:
      operationId: GetSecretGroupKeystores
      parameters:
        - in: query
          name: type
          description: Filter the elements on the response to be of a specific type from {PEM, JKS, JCEKS, PKCS12}
          required: false
          schema:
            type: string
            enum:
              - PEM
              - JKS
              - JCEKS
              - PKCS12
      summary: Retrieves a secret-groups' collection of keystores.
      description: Retrieves a secret-groups' collection of keystores.
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '200':    # status code
          $ref: '#/components/responses/SuccessGetSecretGroupKeystoresCollection'
    post:
      operationId: PostSecretGroupKeystores
      parameters:
        - in: query
          name: allowExpiredCert
          description: With 'true' to allow uploading expired certificates
          required: true
          schema:
            type: boolean
      summary: Create a secret-groups' keystore.
      description: Create a secret-groups' keystore.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/KeystoreReqBody"
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '201':    # status code
          $ref: '#/components/responses/SuccessPostSecretGroupKeystore'

  /organizations/{orgId}/environments/{envId}/secretGroups/{secretGroupId}/keystores/{secretId}:
    parameters:
      - in: path
        name: orgId
        description: The organization Id
        required: true
        schema:
          type: string
      - in: path
        name: envId
        description: The environment id
        required: true
        schema:
          type: string
      - in: path
        name: secretGroupId
        description: The secret group id
        required: true
        schema:
          type: string
      - in: path
        name: secretId
        description: The keystore id
        required: true
        schema:
          type: string
    get:
      operationId: GetSecretGroupKeystoreDetails
      summary: Retrieve keystore details
      description: Retrieves keystore details by id for a given secret group in a given organization and environment
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '200':    # status code
          $ref: '#/components/responses/SuccessGetSecretGroupKeystore'
    put:
      operationId: PutSecretGroupKeystore
      parameters:
        - in: query
          name: allowExpiredCert
          description: With 'true' to allow uploading expired certificates
          required: true
          schema:
            type: boolean
      summary: Update a given secret-group keystore
      description: Update keystore details for a given secret-group in a given organization and environment
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/KeystoreReqBody"
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '200':    # status code
          $ref: '#/components/responses/SuccessPutSecretGroupKeystore'
    patch:
      operationId: PatchSecretGroupKeystore
      requestBody:
        content:
          application/json::
            schema:
              $ref: "#/components/schemas/KeystorePatchBody"
      summary: Update a given secret-group keystore
      description: Update keystore details for a given secret-group in a given organization and environment
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '200':    # status code
          $ref: '#/components/responses/SuccessPatchSecretGroupKeystore'

components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    BadRequestError:
      description: Bad request response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorsResponse"
    NotFoundError:
      description: resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              message:
                type: string
    SuccessGetSecretGroupKeystoresCollection:
      description: get secret-groups keystores response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/KeystoreSummaryCollection"
    SuccessPostSecretGroupKeystore:
      description: post secret-groups keystore response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              id:
                type: string
    SuccessGetSecretGroupKeystore:
      description: get secret-group keystore details response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Keystore"
    SuccessPutSecretGroupKeystore:
      description: put secret-group keystore details response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    SuccessPatchSecretGroupKeystore:
      description: patch secret-group keystore details response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string

  schemas:
    errorsResponse:
      type: object
      title: errorsResponse
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                title: type
              dataPath:
                type: string
                title: dataPath
              keyword:
                type: string
                title: keyword
              schema:
                type: string
                title: schema
              data:
                type: string
                title: data
              message:
                type: string
                title: message

    KeystoreReqBody:
      oneOf:
        - $ref: "#/components/schemas/KeystorePEMBody"
        - $ref: "#/components/schemas/KeystoreOthersBody"

    KeystorePEMBody:
      type: object
      properties:
        expirationDate:
          nullable: true
          type: string
          format: date
          description: >
            Date on which this secret should expire. If not set, by default, it will be set to notAfter date of the public certificate from this keystore.
            Once the secret expires, a grant can not be requested for it.
        key:
          type: string
          format: binary
          description: >
            The encrypted private key. Required in case of PEM type.
        name:
          type: string
          description: >
            The name of this keystore instance.
        keyPassphrase:
          type: string
          description: >
            Passphrase with which private key for a particular alias is protected
        certificate:
          type: string
          format: binary
          description: >
            The public certificate.
            Required in the case of PEM type.
        type:
          type: string
          enum:
            - PEM
            - JKS
            - JCEKS
            - PKCS12
        capath:
          type: string
          format: binary
          description: >
            The concatenated chain of CA certificates, except the leaf, leading up to the root CA.
            Can only be set in case of PEM type.

    KeystoreOthersBody:
      type: object
      properties:
        expirationDate:
          nullable: true
          type: string
          format: date
          description: >
            Date on which this secret should expire. If not set, by default, it will be set to notAfter date of the public certificate from this keystore.
            Once the secret expires, a grant can not be requested for it.
        name:
          type: string
          description: >
            The name of this keystore instance.
        keystore:
          title: keystoreFile
          type: string
          format: binary
          description: >
            File containing one or more certificate entries
            Required in case of JKS, JCEKS and PKCS12 types
        algorithm:
          nullable: true
          type: string
          description: >
            The algorithm used to initialize KeyManagerFactory
            Required in case of JKS, JCEKS and PKCS12 types
        keyPassphrase:
          type: string
          description: >
            Passphrase with which private key for a particular alias is protected
        storePassphrase:
          type: string
          description: >
            Passphrase with which keystore is protected
            Required in case of JKS, JCEKS and PKCS12 types
        type:
          type: string
          enum:
            - PEM
            - JKS
            - JCEKS
            - PKCS12
        alias:
          type: string
          description: >
            The alias name of the entry that contains the certificate.
            Required in case of JKS, JCEKS and PKCS12 types

    KeystorePatchBody:
      type: object
      example: >
        {
          "name": "",
          "expirationDate": ""
        }

    KeystoreSummaryCollection:
      type: array
      items:
        $ref: "#/components/schemas/KeystoreSummary"

    KeystoreSummary:
      type: object
      properties:
        name:
          type: string
        meta:
          $ref: "#/components/schemas/Meta"
        expirationDate:
          type: string
          format: date
        type:
          type: string

    Keystore:
      type: object
      properties:
        expirationDate:
          type: string
          format: date
        keystoreFileName:
          type: string
          description: File name of the keystore that is stored in this secret
        meta:
          $ref: "#/components/schemas/Meta"
        name:
          type: string
        algorithm:
          type: string
          description: Algorithm used to create the keystore manager factory which will make use of this keystore
        details:
          $ref: "#/components/schemas/KeystoreDetails"
        type:
          type: string
          description: Type of keystore supported
        alias:
          type: string
          description: The alias name of the entry that contains the certificate
        certificateFileName:
          type: string
          description: The file name of the certificate file that is stored in this keystore
        keyFileName:
          type: string
          description: The file name of the encrypted private key that is stored in this keystore
        capathFileName:
          type: string
          description: The file name of the CA file that is stored in this keystore

    KeystoreDetails:
      title: KeystoreDetails
      type: object
      description: Details about the public certificate and capath from the keystore
      properties:
        certificate:
          $ref: "#/components/schemas/CertificateDetails"
        capath:
          $ref: "#/components/schemas/CertificatePath"

    Meta:
      type: object
      properties:
        id:
          type: string
        path:
          type: string

    IssuerSubject:
      type: object
      properties:
        commonName:
          type: string
        organizationName:
          type: string
        localityName:
          type: string
        organizationUnit:
          type: string
        state:
          type: string
        countryName:
          type: string

    CertificateValidity:
      type: object
      description: Details about validity period of this certificate
      properties:
        notBefore:
          type: string
        notAfter:
          type: string

    CertificateDetails:
      title: CertificateDetails
      type: object
      properties:
        issuer:
          $ref: "#/components/schemas/IssuerSubject"
        subject:
          $ref: "#/components/schemas/IssuerSubject"
        subjectAlternativeName:
          type: array
          description: Collection of subject alternative names from the SubjectAltName x509 extension
          items:
            type: string
        version:
          type: string
        serialNumber:
          type: string
          description: Serial number assigned by the CA to this certificate, in hex format
        signatureAlgorithm:
          type: string
          description: Name of the signature algorithm
        publicKeyAlgorithm:
          type: string
          description: The standard algorithm name for the public key of this certificate
        basicConstraints:
          type: object
          description: This identifies if the subject of the certificate is a CA
          properties:
            certificateAuthority:
              type: boolean
              description: If set to true, indicates that this is a CA certificate.
        validity:
          $ref: "#/components/schemas/CertificateValidity"
        keyUsage:
          type: array
          description: A list of values defining the purpose of the public key i.e. the key usage extensions from this certificate
          items:
            type: string
        extendedKeyUsage:
          type: array
          description: A list of values providing details about the extended key usage extensions from this certificate.
          items:
            type: string
        certificateType:
          type: string
          description: The type of this certificate

    CertificatePath:
      title: CertificatePath
      type: array
      items:
        $ref: "#/components/schemas/CertificateDetails"


