openapi: 3.0.0
info:
  title: Secret Group Certificate API
  description: Secret Group Certificate API
  version: 1.0.0

servers:
  - url: https://anypoint.mulesoft.com/secrets-manager/api/v1/
    description: Anypoint Cloudhub
  - url: https://eu1.anypoint.mulesoft.com/secrets-manager/api/v1/
    description: Anypoint Cloudhub EU
  - url: https://gov.anypoint.mulesoft.com/secrets-manager/api/v1/
    description: Anypoint Cloudhub GOV

security:
  - bearerAuth: []


paths:
  /organizations/{orgId}/environments/{envId}/secretGroups/{secretGroupId}/certificates:
    parameters:
      - in: path
        name: orgId
        description: The organization Id
        required: true
        schema:
          type: string
      - in: path
        name: envId
        description: The environment id
        required: true
        schema:
          type: string
      - in: path
        name: secretGroupId
        description: The secret group id
        required: true
        schema:
          type: string
    get:
      operationId: GetSecretGroupCertificates
      summary: Retrieves a secret-groups' collection of certificates.
      description: Retrieves a secret-groups' collection of certificates.
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '200':    # status code
          $ref: '#/components/responses/SuccessGetSecretGroupCertificatesCollection'
    post:
      operationId: PostSecretGroupCertificate
      parameters:
        - in: query
          name: allowExpiredCert
          description: With 'true' to allow uploading expired certificates
          required: true
          schema:
            type: boolean
      summary: Create a secret-groups' certificate.
      description: Create a secret-groups' certificate.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CertificatePostBody"
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '201':    # status code
          $ref: '#/components/responses/SuccessPostSecretGroupCertificate'

  /organizations/{orgId}/environments/{envId}/secretGroups/{secretGroupId}/certificates/{secretId}:
    parameters:
      - in: path
        name: orgId
        description: The organization Id
        required: true
        schema:
          type: string
      - in: path
        name: envId
        description: The environment id
        required: true
        schema:
          type: string
      - in: path
        name: secretGroupId
        description: The secret group id
        required: true
        schema:
          type: string
      - in: path
        name: secretId
        description: The truststore id
        required: true
        schema:
          type: string
    get:
      operationId: GetSecretGroupCertificateDetails
      summary: Retrieve certificate details
      description: Retrieves certificate details by id for a given secret group in a given organization and environment
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '200':    # status code
          $ref: '#/components/responses/SuccessGetSecretGroupCertificate'
    put:
      operationId: PutSecretGroupCertificate
      parameters:
        - in: query
          name: allowExpiredCert
          description: With 'true' to allow uploading expired certificates
          required: true
          schema:
            type: boolean
      summary: Update a given secret-group certificate
      description: Update certificate details for a given secret-group in a given organization and environment
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CertificatePutBody"
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '200':    # status code
          $ref: '#/components/responses/SuccessPutSecretGroupCertificate'
    patch:
      operationId: PatchSecretGroupCertificate
      requestBody:
        content:
          application/json::
            schema:
              $ref: "#/components/schemas/CertificatePatchBody"
      summary: Update a given secret-group certificate
      description: Update certificate details for a given secret-group in a given organization and environment
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '200':    # status code
          $ref: '#/components/responses/SuccessPatchSecretGroupCertificate'


components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    BadRequestError:
      description: Bad request response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorsResponse"
    NotFoundError:
      description: resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              message:
                type: string
    SuccessGetSecretGroupCertificatesCollection:
      description: get secret-group certificates
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CertificateSummaryCollection"
    SuccessPostSecretGroupCertificate:
      description: post secret-group certificates
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              id:
                type: string
    SuccessGetSecretGroupCertificate:
      description: get secret-group certificate response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Certificate"
    SuccessPutSecretGroupCertificate:
      description: put secret-group certificates response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    SuccessPatchSecretGroupCertificate:
      description: patch secret-group certificates response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string

  schemas:
    errorsResponse:
      type: object
      title: errorsResponse
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                title: type
              dataPath:
                type: string
                title: dataPath
              keyword:
                type: string
                title: keyword
              schema:
                type: string
                title: schema
              data:
                type: string
                title: data
              message:
                type: string
                title: message

    CertificateSummaryCollection:
      type: array
      items:
        $ref: "#/components/schemas/CertificateSummary"

    CertificateSummary:
      type: object
      properties:
        name:
          type: string
        meta:
          $ref: "#/components/schemas/Meta"
        expirationDate:
          type: string
        type:
          type: string

    Certificate:
      type: object
      properties:
        name:
          type: string
        expirationDate:
          type: string
        meta:
          $ref: "#/components/schemas/Meta"
        type:
          type: string
        details:
          $ref: "#/components/schemas/CertificateDetails"
        certificateFileName:
          type: string

    CertificatePostBody:
      type: object
      properties:
        expirationDate:
          type: string
          description: >
            Date on which this secret should expire. If not set, by default, it will be set to notAfter date of this certificate. 
            Once the secret expires, a grant can not be requested for it.
        certStore:
          type: string
          format: binary
          description: The file containing the certificate in PEM format
        type:
          type: string
          description: Type of certificate supported
          enum:
            - PEM
        name:
          type: string
          description: The name of the certificate

    CertificatePutBody:
      type: object
      properties:
        expirationDate:
          type: string
          description: >
            Date on which this secret should expire. If not set, by default, it will be set to notAfter date of this certificate. 
            Once the secret expires, a grant can not be requested for it.
        certStore:
          type: string
          format: binary
          description: The file containing the certificate in PEM format
        type:
          type: string
          description: Type of certificate supported
          enum:
            - PEM
        name:
          type: string
          description: The name of the certificate

    CertificatePatchBody:
      type: object
      example: >
        {
          "name": "",
          "expirationDate": ""
        }

    Meta:
      type: object
      properties:
        id:
          type: string
        path:
          type: string

    IssuerSubject:
      type: object
      properties:
        commonName:
          type: string
        organizationName:
          type: string
        localityName:
          type: string
        organizationUnit:
          type: string
        state:
          type: string
        countryName:
          type: string

    CertificateValidity:
      type: object
      properties:
        notBefore:
          type: string
        notAfter:
          type: string

    CertificateDetails:
      type: object
      properties:
        issuer:
          $ref: "#/components/schemas/IssuerSubject"
        subject:
          $ref: "#/components/schemas/IssuerSubject"
        subjectAlternativeName:
          type: array
          description: Collection of subject alternative names from the SubjectAltName x509 extension
          items:
            type: string
        version:
          type: string
        serialNumber:
          type: string
          description: Serial number assigned by the CA to this certificate, in hex format
        signatureAlgorithm:
          type: string
          description: Name of the signature algorithm
        publicKeyAlgorithm:
          type: string
          description: The standard algorithm name for the public key of this certificate
        basicConstraints:
          type: object
          description: This identifies if the subject of the certificate is a CA
          properties:
            certificateAuthority:
              type: boolean
              description: If set to true, indicates that this is a CA certificate.
        validity:
          $ref: "#/components/schemas/CertificateValidity"
        keyUsage:
          type: array
          description: A list of values defining the purpose of the public key i.e. the key usage extensions from this certificate
          items:
            type: string
        extendedKeyUsage:
          type: array
          description: A list of values providing details about the extended key usage extensions from this certificate.
          items:
            type: string
        certificateType:
          type: string
          description: The type of this certificate



