openapi: 3.0.0
info:
  title: Team API
  description: Description of the Team API
  version: 1.1.0
servers:
  - url: https://anypoint.mulesoft.com/accounts/api/
    description: Anypoint Cloudhub
  - url: https://eu1.anypoint.mulesoft.com/accounts/api/
    description: Anypoint Cloudhub EU
  - url: https://gov.anypoint.mulesoft.com/accounts/api/
    description: Anypoint Cloudhub GOV

security:
  - bearerAuth: []


paths:
  /organizations/{orgId}/teams:
    parameters:
      - name: orgId
        in: path
        description: The ID of the organization in GUID format
        required: true
        schema:
          type: string
    get:
      operationId: getTeams
      summary: Read all Teams for a given org
      description: Returns all teams for a given org
      parameters:
        - name: ancestor_team_id
          in: query
          description: team_id that must appear in the team's ancestor_team_ids.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: parent_team_id
          in: query
          description: team_id of the immediate parent of the team to return.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: team_id
          in: query
          description: id of the team to return.
          required: false
          schema:
            type: string
        - name: team_type
          in: query
          description: return only teams that are of this type
          required: false
          schema:
            type: string
        - name: search
          in: query
          description: A search string to use for case-insensitive partial matches on team name
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of rolegroups to retrieve per request.
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: The number of records to omit from the response.
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          description: The field to sort on. default team_name
          required: false
          schema:
            type: string
            enum:
              - team_name
              - created_at
              - team_id
        - name: ascending
          in: query
          description: Whether to sort ascending or descending. Default true
          required: false
          schema:
            type: boolean
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '200':    # status code
          $ref: '#/components/responses/SuccessListTeams'
    post:
      operationId: createTeam
      summary: Create a new team
      description: Creates a new team
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TeamPostBody"
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '201':    # status code
          $ref: '#/components/responses/SuccessPostTeam'

  /organizations/{orgId}/teams/{teamId}:
    parameters:
      - name: orgId
        in: path
        description: The ID of the organization in GUID format
        required: true
        schema:
          type: string
      - name: teamId
        in: path
        description: The ID of the team in GUID format
        required: true
        schema:
          type: string
    get:
      operationId: getTeam
      summary: Read a team by id
      description: Retrieves a team by id
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '201':    # status code
          $ref: '#/components/responses/SuccessGetTeam'
    patch:
      operationId: updateTeam
      summary: Update a team by id
      description: Updates a team by id
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/teamPatchBody"
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '201':    # status code
          $ref: '#/components/responses/SuccessPatchTeam'
    delete:
      operationId: deleteTeam
      summary: Delete a team by id
      description: Deletes a team by id
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':    # status code
          $ref: '#/components/responses/SuccessDeleteTeam'

  /organizations/{orgId}/teams/{teamId}/parent:
    parameters:
      - name: orgId
        in: path
        description: The ID of the organization in GUID format
        required: true
        schema:
          type: string
      - name: teamId
        in: path
        description: The ID of the team in GUID format
        required: true
        schema:
          type: string
    put:
      operationId: moveTeam
      summary: Move a team
      description: Moves a team (along with its nested teams) from one parent team to another
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TeamPutBody"
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '201':    # status code
          $ref: '#/components/responses/SuccessPutTeam'

components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT


  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    BadRequestError:
      description: Bad request response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorsResponse"
    NotFoundError:
      description: resource not found
    SuccessListTeams:
      description: Success response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TeamCollection"
    SuccessGetTeam:
      description: Success response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Team"
    SuccessPostTeam:
      description: Success response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Team"
    SuccessPatchTeam:
      description: Success response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Team"
    SuccessPutTeam:
      description: Success response
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/Team"
              - type: object
                title: previousTeamState
                properties:
                  previous_ancestor_team_ids:
                    type: array
                    title: previousAncestorTeamIds
                    items:
                      type: string
    SuccessDeleteTeam:
      description: Success response


  schemas:
    ErrorsResponse:
      type: object
      title: errorsResponse
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                title: type
              dataPath:
                type: string
                title: dataPath
              keyword:
                type: string
                title: keyword
              schema:
                type: string
                title: schema
              data:
                type: string
                title: data
              message:
                type: string
                title: message

    TeamPostBody:
      type: object
      title: TeamPostBody
      properties:
        parent_team_id:
          type: string
          title: parentTeamId
        team_name:
          type: string
          title: teamName
        team_type:
          type: string
          title: teamType
          default: internal

    TeamPatchBody:
      type: object
      title: TeamPatchBody
      properties:
        team_name:
          type: string
          title: teamName
        team_type:
          type: string
          title: teamType
          default: internal

    TeamPutBody:
      type: object
      title: TeamPutBody
      properties:
        parent_team_id:
          type: string
          title: parentTeamId

    Team:
      type: object
      title: Team
      properties:
        org_id:
          type: string
          title: orgId
        team_id:
          type: string
          title: teamId
        team_name:
          type: string
          title: teamName
        team_type:
          type: string
          title: teamType
        ancestor_team_ids:
          type: array
          title: ancestorTeamIds
          items:
            type: string
        created_at:
          type: string
          title: createdAt
        updated_at:
          type: string
          title: updatedAt

    TeamCollection:
      type: object
      title: TeamCollection
      properties:
        data:
          type: array
          title: data
          items:
            $ref: "#/components/schemas/Team"
        total:
          type: integer
          title: total

